* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}

.App {
  background-color: #292929;
  color: #ffffff;
  padding-left: 41px;
  padding-top: 43px;
  padding-right: 56px;
  min-height: 100vh;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 228px min(calc(100% - 228px), 1100px);
}

main {
  margin-left: 30px;
}

main h2 {
  margin-top: 20px;
  margin-bottom: 21px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 900px) {
  .App {
    display: flex;
    flex-direction: column;
  }

  main {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  .App {
    padding-left: 20px;
  }
}
